

/* styling for body*/
body {
  margin: 0;
  padding: 0;
  background: #f1f2f6;
  color:#2d3436;
  font-family: 'roboto', sans-serif;
  line-height: 1.5; 
  font-size: 14px;
}

h1{
    text-align: center;
}


/* main header styles*/
.main-header {
  padding: none;
  margin:none;
  width: 100%;
  min-height: 90px;
  border: none;
  border-top: none;
	background: #00cec9;
}

.main-header:after {
    content: " ";
    display: table;
    clear: both;
}


/* display logo to the left of the page */
.logo {
  text-decoration: none;
  float:left;
  width:auto;
  height:100px;
  display: inline-block;
  marign: 20px 0 10px 20px;
}



/* ----- Main Nav Styles ----- */

ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0; 
}

.main-nav,
.drop-nav {
  background: #353b48;
}

/* */
.main-nav {
  float: right;
  border-radius:none;
  border: none;
  margin:30px 100px 10px 20px;
}

.main-nav > li {
    float: left;
    border-left: solid 1px #2d3436;
}

.main-nav a {
    color: #fff;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #2f3640;
}

/* allowing flyout to adjust */
.dropdown, .flyout {
  position:relative;
}

/* placing rows in location*/
.drop-nav, .flyout-nav{ 
  position:absolute;
  display:none;
}

/* shows the content when hover */
.dropdown:hover > .drop-nav, 
.flyout:hover > .flyout-nav{
      display: block;
}   


/* positioning fly out nav */
.flyout-nav {
  left: 100%;
  top: 0;
}

/* changing background color on hovering to locate clicking region in nav*/
.flyout:hover a, .flyout-nav{
  border-right: solid 1px #2d3436;
  border-left: : solid 1px #2d3436;
}

.main-nav a:hover, .drop-nav a:hover, .flyout a:hover, .flyout-nav a:hover{
  background-color: #e84118;
}


div.product_box{
  background-color:white;
  width: auto;
  height: auto;
  padding: 30px 0 20px 60px;
  position: relative;
}

/* alignment of content in listing */
.responsive{
  width:auto;
  height:280px;
  list-style: none;
}

ul.products li{
  width:280px;
  height:auto;
  display: inline-block;
  vertical-align:top;
  margin-left:20px;
  margin-bottom: 60px;
  list-style: none;
}

.name{
  text-align: center;
}
.detail{
  text-align: justify;
}
.info{
  text-align: center;
}




/* search box in nav bar */
.search-box{
  display: inline-block;
  float:auto;
  width:350px;
  top:50%;
  bottom:50%;
  background:#2f3640;
  height:auto;
  border-radius:50px;
  margin: none;
  position: relative;
  margin:30px 0 10px 20px;
}

.search-btn{
  text-decoration: none;
  color:#e84118;
  float:right;
  width:40px;
  height:40px;
  border-radius:50px;
  background-color:#2f3640;
  display: flex;
  justify-content:center;
  align-items: center;
}

.search-btn:hover{
  background-color:#2f3640;
  color:white;
}

.search-text{
  border:none;
  background:none;
  outline:none;
  float:left;
  color:white;
  font-size:16px;
  transition:0.4s;
  line-height: 40px;
  width:300px;
  padding:auto;
  margin: 0 0 0  10px;
}





/* container to align content */

.container h1{
  text-align:center;
  font-weight: 600;
}


/* breadcrumb style */
.breadcrumb{
  padding: 20px 0 0 10px;
}

.breadcrumb-item{
  display: inline-block;
  float:left;
  position: relative;
}

.breadcrumb-item:not(:last-of-type)::after{
content: '\203a';
margin:0 5px;
color: #2f3640;
}

.breadcrumb-link{
  text-decoration: none;
  color: #2f3640;
}

.breadcrumb-link:hover, .breadcrumb-link-active:hover{
  text-decoration: underline;
  background-color:#f1f2f6;
}

.breadcrumb-link-active{
  color:red;
  text-decoration: none;
  font-weight:700;
}




/* button to go to the product page */
    .btn-card{
  background-color: #2f3640;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-card:hover {
    background: #e84118;
}

a.btn-card:active{
  background:orange;
}

a.btn-card {
    text-decoration: none;
    color: #fff;
}


/* large box to store div cards */
div.detail_box{
  background-color:white;
  width: auto;
  height: auto;
  padding: 30px 0 20px 60px;
  position: relative;
  list-style: none;
}


.detail_image{
  width:auto;
  height:350px;
  list-style: none;
}




/* footer  */

footer nav{
  text-align: center;
}

footer{
  width:100%;
  background-color: #2f3640;
  padding:60px 0 30px 0;
  border:none;
  overflow: auto;
  margin:none;
}

footer ul li{
  display: inline-block;
  margin-left:20px;
  list-style: none;

}

footer ul li a{
  font-family: inline-block;
  font-weight:500;
  font-size:14px;
  text-decoration: none;
  color:white;
}

footer ul li a:hover{
  background-color:#2f3640 ;
  color:orange;
}

