@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header > h1 { border-bottom: 1px dashed black ; font-style: italic ; font-size: x-large; }
footer > p { border-top: 1px dashed black ; font-style: italic ; }
table { border-spacing:5px; width:530px;}
th { color:#FFF; background:#000; text-align:left; }
td { border-bottom:1px solid black; background:#F0F0F0; padding:3px; text-align:left; vertical-align:top;}
p#err_msg { color:#F00; font-weight:bold; }

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

ul{
	font-family: 'Montserrat', sans-serif;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	background-color: #2d3436
}

/* --------input forms------- */
.form-control{
	background-color: black;
	color:white;
	border-color: #636e72;
	font-size: 11px;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: white;
        background: black;
    }
}

.password-input{
	font-weight: 1000;
	padding:0;
	padding-left:2px;
}

/* --------autocomplete background color---------- */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
    -webkit-animation-delay: 1s; 
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.form-control:focus {
  border-color: #ff7675;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 118, 117, 0.6);
  background-color: black;
  color:white;
}


/* --------check box design-------- */

.custom-control-label:before{
  background-color:black;
  border-color: #636e72;

}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:black;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
	background-color:black;
	
}


.container-fluid{
	background-color: #2d3436;
}


.btn-grad {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #ff7675;
	*background-color: #ff7675;
	background-image: -moz-linear-gradient(top, #d63031, #ff7675);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d63031), to(#ff7675));
	background-image: -webkit-linear-gradient(top, #d63031, #ff7675);
	background-image: -o-linear-gradient(top, #d63031, #ff7675);
	background-image: linear-gradient(to bottom, #d63031, #ff7675);
	background-repeat: repeat-x;
	border-color: #ff7675;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d63031', endColorstr='#ff7675', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	transition: 1.2s;
}

.btn-grad:focus,
.btn-grad:active,
.btn-grad.active,
.btn-grad.disabled,
.btn-grad[disabled] {
	color: #FFFFFF;
	background-color: #ff7675;
	*background-color: #003bb3;
}

.btn-grad:hover{
	background: #d63031;
	color: #FFFFFF;
	border-color: #ff7675;
}


span {
  position: relative;
  cursor: pointer;
}

span[aria-label]:after {
  opacity:0;
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
  background:#6C757D;
  transition: opacity 0.5s;
  pointer-events:none;
}

span[aria-label]:hover:after {
  opacity:1;
  transition-delay:0.5s;
}


/* link color */
a{
	color:#ff7675;
}

a:hover{
	color:#d63031;

}

