@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

ul{
	font-family: 'Montserrat', sans-serif;
}

.bg-black{
	background-color: black;
}


.btn-grad {
	color: #FFFFFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	background-color: #d9534f !important;
	*background-color: #d9534f !important;
	background-image: -moz-linear-gradient(top, #d9534f, #d9534f) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9534f), to(#d9534f)) !important;
	background-image: -webkit-linear-gradient(top, #d9534f, #d9534f) !important;
	background-image: -o-linear-gradient(top, #d9534f, #d9534f)!important;
	background-image: linear-gradient(to bottom, #d9534f, #d9534f) !important;
	background-repeat: repeat-x !important;
	border-color: #d9534f !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9534f', endColorstr='#d9534f', GradientType=0) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
	transition: 1.2s !important;
}

.btn-grad:focus,
.btn-grad:active,
.btn-grad.active,
.btn-grad.disabled,
.btn-grad[disabled] {
	color: #FFFFFF !important;
	background-color: #d9534f !important;
	*background-color: #003bb3 !important;
}

.btn-grad:hover.btn-grad {
	background-image: linear-gradient(to right, #d9534f 0%, #DC143C 51%, #d9534f 100%) !important;}



span {
  position: relative;
  cursor: pointer;
}

span[aria-label]:after {
  opacity:0;
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
  background:#6C757D;
  transition: opacity 0.5s;
  pointer-events:none;
}

span[aria-label]:hover:after {
  opacity:1;
  transition-delay:0.5s;
}


/* link color */
.container-fluid a, .container a{
	text-decoration: none !important;
	color:#d9534f;
}

.container-fluid a:hover, .container a:hover{
	text-decoration: none !important;
	color:#DC143C;

}

.spacer{
	padding-bottom: 200px;
}



 .img-fluid .img-profile {
        width: 150px;
        height: 150px;
        border:1px solid #eee;
}

.menu-link:hover{
	text-decoration: none !important;
	padding: 5px 18px 5px 18px;
	background-color: #d9534f ;
	color:#fff !important;
}

.menu-link: active{
	text-decoration: none !important;
		padding:5px 18px 5px 18px;
	background-color: #d9534f ;
	color:#fff !important;
}


/* ----------profile image alignment---------- */
.wrap {
  margin-top:40px;
  border:none;
}

.blockico {
  margin-bottom:-80px;
  margin-top:100px;

}