@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header > h1 { border-bottom: 1px dashed black ; font-style: italic ; font-size: x-large; }
footer > p { border-top: 1px dashed black ; font-style: italic ; }
table { border-spacing:5px; width:530px;}
th { color:#FFF; background:#000; text-align:left; }
td { border-bottom:1px solid black; background:#F0F0F0; padding:3px; text-align:left; vertical-align:top;}
p #err_msg { color:#F00 !important; font-weight:bold; }

button:focus {
    outline: 0;
}

ul{
	font-family: 'Montserrat', sans-serif;
}

html body{
	color:white  !important;
}

.bg-black{
	background-color: black;
}

/* --------check box design-------- */

.custom-control-label:before{
  background-color:black;
  border-color: white;

}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:black;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
	background-color:black;
	
}


.btn-grad {
	color: #FFFFFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	background-color: #D31027 !important;
	*background-color: #D31027 !important;
	background-image: -moz-linear-gradient(top, #d63031, #D31027) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d63031), to(#D31027)) !important;
	background-image: -webkit-linear-gradient(top, #d63031, #D31027) !important;
	background-image: -o-linear-gradient(top, #d63031, #D31027)!important;
	background-image: linear-gradient(to bottom, #d63031, #D31027) !important;
	background-repeat: repeat-x !important;
	border-color: #D31027 !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d63031', endColorstr='#ff7675', GradientType=0) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
	transition: 1.2s !important;
}

.btn-grad:focus,
.btn-grad:active,
.btn-grad.active,
.btn-grad.disabled,
.btn-grad[disabled] {
	color: #FFFFFF !important;
	background-color: #D31027 !important;
	*background-color: #003bb3 !important;
}

.btn-grad:hover.btn-grad {
	background-image: linear-gradient(to right, #D31027 0%, #EA384D 51%, #D31027 100%) !important;}



span {
  position: relative;
  cursor: pointer;
}

span[aria-label]:after {
  opacity:0;
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20;
  background:#6C757D;
  transition: opacity 0.5s;
  pointer-events:none;
}

span[aria-label]:hover:after {
  opacity:1;
  transition-delay:0.5s;
}


/* link color */
.container-fluid a, .container a{
	color:#ff7675;
}

.container-fluid a, .container a:hover{
	color:#d63031;

}

.text-gray {
    color: #aaa
}

.item-img {
    height: auto;
    width: 80px
}

.shop-container a{
	text-decoration: none !important;
	color: black;
}

.shop-container a:hover{
	text-decoration: none !important;
	color: black;
}

